<script>
import PageHeader from './components/PageHeader.vue';
import PageFooter from './components/PageFooter.vue';

export default {
  components: {
    PageHeader,
    PageFooter
  }
};
</script>

<template>
  <div id="app">
    <PageHeader></PageHeader>
    <div class="content">
      <router-view />
    </div>
    <PageFooter></PageFooter>
  </div>
</template>

<style lang="scss">
@import './styles/global';

// Really nice font, btw!
@font-face {
  font-family: "MTG Sans";
  src:
    local("☺"),
    url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.woff") format("woff"),
    url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.ttf") format("truetype"),
    url("https://assets.viaplay.tv/fonts/mtg-sans/MTGSans-Regular.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

#app {
  font-family: "MTG Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $fg-content;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &>.content {
    flex-grow: 1;

    max-width: $page_width;
    margin: 0 auto;

    padding-top: $padding_top;
    padding-bottom: $padding_bottom;
  }
}

html,
body,
ul,
ol {
  margin:  0;
  padding: 0;
};

html {
  overflow-y: scroll;
}

</style>

<style lang="scss" scoped>

</style>
