<script>
import api from '../api';
import MovieCard from '../components/MovieCard.vue';

export default {
  components: {
    MovieCard
  },
  data() {
    let movies = new Array(20).fill({});
    movies.forEach(function(_val, key, arr) {
      arr[key] = { key };
    });

    return {
      movies
    };
  },

  async mounted() {
    try {
      let movies = await api.getMovies();
      this.movies = movies.map(function(movie) {
        movie.key = movie.title;
        return movie;
      });
    } catch (_err) {
      // need to show error here
    }
  }
};
</script>

<template>
    <div class="Movies">
        <MovieCard v-for="movie in movies" :movie="movie" :key="movie.key"></MovieCard>
    </div>
</template>

<style lang="scss" scoped>
@import '../styles/global';

.Movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    $card_margin_right: 2em;

    margin-right: -$card_margin_right; /* compensate for margin of the last card in a row */

    .MovieCard {
        margin-bottom: 3em;
        margin-right: $card_margin_right;
    }
}
</style>
