<script>
import api from '../api';
import _ from 'lodash';
import VideoPlayer from '../components/VideoPlayer.vue';

export default {
  components: {
    VideoPlayer
  },

  data() {
    return {
      movie: {
      }
    };
  },

  computed: {
    genresList() {
      let genres = _.get(this.movie, 'genres');
      if (!genres) {
        return '';
      }

      return this.movie.genres.join('/');
    },

    runtime() {
      let runtime = _.get(this.movie, 'runtime');
      if (!runtime) {
        return '';
      }

      let hours = Math.floor(runtime / 60);
      let minutes = runtime % 60;

      let result = '';
      if (hours) {
        result = `${hours}h`;
      }

      if (minutes) {
        if (result) {
          result += '\xa0';
        }

        result += `${minutes}m`;
      }

      return result;
    },

    year() {
      let releaseDate = _.get(this.movie, 'release_date');
      if (!releaseDate) {
        return '';
      }

      return new Date(releaseDate).getFullYear();
    },

    meta() {
      return _.compact([
        this.genresList,
        this.year,
        this.runtime
      ]);
    }
  },

  async mounted() {
    try {
      this.movie = await api.getMovie({ id: this.$route.params.id });
      document.title = this.movie.title + ' - Viaplay';
    } catch (_err) {
      // need to show error here
    }
  }
};
</script>

<template>
    <div class="MovieInfo">
        <div class="MovieInfo__video-player">
          <VideoPlayer :backdrop="movie.backdrop_path" :youTubeKey="movie.trailer_yt_key"></VideoPlayer>
          <a v-if="movie.id" class="MovieInfo__report">Felanmäl filmen</a>
        </div>

        <div class="MovieInfo__title">{{movie.title}}</div>

        <div class="MovieInfo__meta">
          <span v-for="item in meta" :key="item">{{item}}</span>
        </div>

        <div class="MovieInfo__rating" v-if="movie.vote_average">
          <a href="https://www.themoviedb.org"><img src="../assets/tmdb.png"></a>
          <div class="vote">
            <span class="vote-average">&nbsp;{{movie.vote_average}}</span>
            <span class="vote-count" v-if="movie.vote_count">&nbsp;från {{movie.vote_count}} användare</span>
          </div>
        </div>

        <div class="MovieInfo__description">{{movie.overview}}</div>

        <div class=MovieInfo__credits>
          <div v-if="movie.actors">Skådespelare: <span>{{movie.actors.join(', ')}}</span></div>
          <div v-if="movie.director">Regissör: <span>{{movie.director}}</span></div>
          <div v-if="movie.production_countries">Land: <span>{{movie.production_countries.join(', ')}}</span></div>
        </div>

    </div>
</template>

<style lang="scss" scoped>
@import '../styles/global';

.MovieInfo {
  display: grid;

  grid-template-columns: 500px 100fr;
  grid-column-gap: 2em;

  text-align: left;

  & > * {
    margin-bottom: 1rem;
  }

  &__video-player {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 10;

  }

  &__report {
    grid-column: 1;
    color: $fg-lower-content;
    cursor: pointer;
  }

  &__header {
    grid-column: 2;
  }

  &__title {
    grid-column: 2;
    font-size: 2em;
  }

  &__meta {
    grid-column: 2;
    font-size: 1.2em;
    color: $fg-lower-content;

    span + span {
      &:before {
        content: "|";
        margin: 0 0.5em;
        color: $fg-low-content;
      }
    }
  }

  &__rating {
    grid-column: 2;
    display: flex;
    align-items: center;

    a {
      line-height: 0;

      img {
        height: 2em;
      }
    }

    span {
      vertical-align: middle;
    }

    .vote {
      display: flex;
      align-items: baseline;
    }

    .vote-average {
      font-weight: bolder;
      font-size: 1.2em;
    }

    .vote-count {
      font-size: 0.9em;
      color: $fg-lower-content;
    }
  }

  &__description {
    grid-column: 2;
    line-height: 1.5em;
  }

  &__credits {
    grid-column: 2;
    line-height: 1.5em;

    font-weight: bolder;

    span {
      font-weight: normal;
    }
  }
}
</style>
