<script>
export default {
  props: {
    movie: {
      type: Object
    }
  },
  computed: {
    link() {
      if (!this.movie.id) {
        return '';
      }

      return `/film/${this.movie.id}`;
    },

    img() {
      return this.movie.poster_path;
    }
  }
};
</script>

<template>
    <router-link class="MovieCard" v-bind:class="{ loading: link === '' }" :to="link">
        <div class="MovieCard__img-frame">
            <img class="MovieCard__img" :src="img">
        </div>
        <div>{{movie.title}}</div>
    </router-link>
</template>

<style lang="scss" scoped>
@import '../styles/global';

.MovieCard {
    width: 200px;
    text-decoration: none;
    color: $fg-content;

    &.loading {
        pointer-events:none;

        .MovieCard__img-frame {
            box-shadow: 1px 0 10px $fg-content;
            background-image: url("../assets/loading.gif");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__img-frame {
        margin: 0 auto;

        width: 200px;
        height: 300px;
        line-height: 300px;
    }

    &__img {
        vertical-align: middle;
        height: auto;
        max-width: 200px;
    }
}
</style>
