<script>
export default {
  components: {
  }
};
</script>

<template>
    <footer class="PageFooter">
        <div class="content">
            <router-link class="PageFooter__logo" to="/">
                <img src="../assets/footer-logo.png">
            </router-link>

            <div class="PageFooter__column">
                <h3>VIAPLAY</h3>
                <router-link to="/serier">Serier</router-link>
                <router-link to="/film">Film</router-link>
                <router-link to="/sport">Sport</router-link>
                <router-link to="/barn">Barn</router-link>
                <router-link to="/hyrbutik">Hyrbutik</router-link>
            </div>
            <div class="PageFooter__column">
                <h3>OM OSS</h3>
                <a>Press</a>
                <a>Job</a>

                <h3>VIASAT KUNDER</h3>
                <a>Viaplay ingår</a>
            </div>
            <div class="PageFooter__column">
                <h3>INFORMATION</h3>
                <a>Kontakt</a>
                <a>Vanliga frågor</a>
                <a>Våra plattformar</a>
                <a>Systemkrav</a>
                <a>Allmänna villkor</a>
                <a>Sekretesspolicy</a>
                <a>Cookies</a>
            </div>
            <div class="PageFooter__column">
                <h3>FÖLJ OSS</h3>
                <a>Facebook</a>
                <a>Twitter</a>
                <a>LinkedIn</a>
                <a>Blogg</a>
                <h3>SOURCE CODE</h3>
                <a href="https://bitbucket.org/yan4esko/viaplay/" target="_blank">Bitbucket</a>
            </div>
            <div class="PageFooter__column">
                <h3>TV</h3>
                <a>TV3</a>
                <a>TV10</a>
                <a>TV6</a>
                <a>Viasat Film</a>
            </div>
        </div>
    </footer>
</template>

<style lang="scss" scoped>
@import '../styles/global';

.PageFooter {
    height: $footer_height;
    padding-top: 2em;

    background: $bg-contrast;
    color: $fg-contrast;
    font-weight: 600;

    .content {
        height: 100%;
        width: $page_width;

        margin: 0 auto;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 2em;

        img {
            // width: auto;
            // height: 0.5*$footer_height;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;

        text-align: left;

        h3 {
            font-size: 1em;
            padding: 0;
            margin: 0;
            margin-top: 2em;
            margin-bottom: 1.5em;
        }

        a {
            font-weight: normal;
            color: $fg-low-contrast;
            margin-bottom: 1em;
            text-decoration: none;
            cursor: pointer; // even for empty links
        }
    }
}
</style>
