<script>
import Searchbox from './Searchbox.vue';

export default {
  components: {
    Searchbox
  }
};
</script>

<template>
    <header class="PageHeader">
        <div class="content">
            <router-link class="PageHeader__logo" to="/">
                <img src="../assets/header-logo-large.png">
            </router-link>

            <div class="PageHeader__navigation">
                <router-link to="/serier">SERIER</router-link>
                <router-link to="/film">FILM</router-link>
                <router-link to="/sport">SPORT</router-link>
                <router-link to="/barn">BARN</router-link>
                <router-link to="/hyrbutik">HYRBUTIK</router-link>
            </div>

            <div class="PageHeader__dummy" />

            <div class="PageHeader__user">
                John Doe
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
            </div>

            <div class="PageHeader__search">
                <searchbox></searchbox>
            </div>
        </div>
    </header>
</template>

<style lang="scss" scoped>
@import '../styles/global';

.PageHeader {
    display: flex;
    align-items: center;

    height: $header_height;

    background: $bg-contrast;
    color: $fg-contrast;
    font-weight: 600;

    .content {
        display: flex;
        align-items: center;

        margin: 0 auto;
        width: $page_width;
        height: 100%;
    }

    &__logo {
        img {
            width: auto;
            height: 0.5*$header_height;
        }
    }

    &__navigation {
        padding-left: 30px;
        align-self: flex-end;
        display: flex;

        a {
            $link-height: $header_height - 5px;

            height: $link-height;
            line-height: $link-height;

            padding: 0 20px;

            color: $fg-contrast;
            text-decoration: none;

            &.router-link-active {
                color: $bg-contrast;
                background: $bg-content;
            }
        }
    }

    &__dummy {
        flex-grow: 1;
    }

    &__user {
        cursor: pointer;

        svg {
            vertical-align: bottom;
            fill: $fg-contrast;
            width: 1em;
            height: 1em;
            margin-left: 0.3em;
        }
    }

    &__search {
        margin-left: 30px;
    }
}
</style>
