<script>
export default {
  props: {
    youTubeKey: {
      type: String
    },
    backdrop: {
      type: String
    }
  },

  data() {
    return {
      playing: false
    };
  },

  computed: {
    youTubeSrc() {
      return `https://www.youtube.com/embed/${this.youTubeKey}?autoplay=1`; // ?enablejsapi=1
    }
  }
};
</script>

<template>
  <div class="VideoPlayer">
    <img class="VideoPlayer__backdrop"
      :class="{hidden: playing}"
      ref="backdrop"
      :src="backdrop">

    <iframe class="VideoPlayer__iframe"
        v-if="playing"
        :src="youTubeSrc"
        frameborder="0">
    </iframe>

    <svg class="VideoPlayer__play-button"
      v-if="youTubeKey && !playing"
      @click="playing = true"
      x="0px"
      y="0px"
      viewBox="0 0 314.068 314.068"
      style="enable-background:new 0 0 314.068 314.068;">
        <path d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534
              c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801
              c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26
              c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949
              c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103
              C221.029,162.082,221.045,155.026,213.555,150.652z"/>
    </svg>
  </div>

</template>

<style lang="scss" scoped>
.VideoPlayer {
  position: relative;

  /* sets the size and aspect ratio of component */
  &__backdrop {
    position: relative;
    width: 100%;
    height: auto;

    &.hidden {
      opacity: 0;
    }
  }

  /* keeps the size and aspect ratio of the backdrop */
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__play-button {
    position: absolute;

    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: white;
    cursor: pointer;

    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

    transition: all 200ms ease-in-out;
  }
}

</style>
