$bg-contrast: #212d33;
$fg-contrast: white;
$fg-low-contrast: #aaa;

$bg-content: white;
$fg-content: #111; //#2c3e50;
$fg-low-content: #ccc; // something grayish
$fg-lower-content: #666; // something grayish
